<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="popup.css" />
  </head>
  <body>
    <div class="container">
      <a
        href="https://github.com/misa198/youtube-shorts-controller"
        target="__blank"
      >
        <div class="logo">
          <img src="icons/icon128.png" alt="logo" />
          <h3 class="logo-title">Shorts Controller</h3>
        </div>
      </a>
      <div class="form-control">
        <h4 class="title">Skip forward and back</h4>
        <select class="select" value=""></select>
      </div>
    </div>
    <script src="./popup.js"></script>
  </body>
</html>
