* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(24, 24, 24);
  width: 350px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  a {
    text-decoration: none;
  }

  .container {
    padding: 20px;

    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }

      h3 {
        margin-left: 10px;
        font-size: 16px;
        color: #fff;
      }
    }

    .form-control {
      padding: 1rem;
      padding-bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      color: #fff;
      font-size: 0.9rem;
    }

    .select {
      width: 60px;
      background: rgb(24, 24, 24);
      color: #fff;
      padding: 0.25rem;
      outline: none;
      border-radius: 4px;
    }
  }
}
